<label>Server Name</label>

<h3>Event binding</h3>

<input
type="text"
class="form-control"
(input)="onUpdateServerName($event)"/>

<h3>Two way data binding</h3>

<input
type="text"
class="form-control"
[(ngModel)]="serverName"/>

<!-- <p>{{serverName}}</p> -->

<button 
class="btn btn-primaery" 
[disabled]="!allowNewServer" 
(click)="onCreateServer()"
>Add</button>
<button (click)="onSubmit()">OnClick</button>
<div  >
    <p *ngIf="isBoolean">Hello Mohit</p>
    <p>sdhfghdf</p>
</div>
<div *ngFor="let item of arr">
    <p>{{item.fname}} {{item.lname}}</p>
</div>
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- <p>{{serverCreationStatus}}</p> -->